<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Users</title>

</head>
<body>
<form  th:action="@{/logout}" th:method="POST">
    <input type="submit" value="LOGOUT"/>
</form>
<br/>
<br/>
<form th:method="POST" th:action="@{/admin/edit?id={id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="age">Enter age</label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <label for="email">Enter Email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <label for="password">Enter Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <label>
        <select th:field="*{roles}" multiple="multiple" required>
            <option th:each="role : ${role}"
                    th:value="${role.getId()}"
                    th:text="${role.getRoleName()}">
            </option>
        </select>
    </label>
    <br/>
    <input type="submit" value="UPDATE"/>
</form>
<br/>
<br/>
<form  th:action="@{/admin}" th:method="GET">
    <input type="submit" value="BACK"/>
</form>
</body>
</html>