<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
 </head>
<body>
<form  th:action="@{/logout}" th:method="POST">
    <input type="submit" value="LOGOUT"/>
</form>
<h1 style="text-align: center;">Info User</h1>
<table th:border="3">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.age}">Age</td>
        <td th:text="${user.email}">Email</td>
    </tr>
</table>
</body>
</html>