<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Admin, welcome to admin's  page!</h1>

<h2>User List</h2>
<table>
    <thead>

    <br>
    </thead>
    <tbody>
    <div th:each="user : ${usersList}">
        <div>
            <a th:href="@{/admin/{id}(id=${user.getId()})}"
               th:text="${user.getId() + '. ' + user.getName() + ' ' + user.getAge() + ' ' + user.getEmail() }"></a>

            <div th:each="role1 : ${user.roles}">
                <div th:text="${role1.getRoleName()}">Role Name</div>
            </div>
        </div>
    </div>
    </tbody>
</table>
</body>
<br>
<br>
<br>
<h1>Create New User</h1>
<form th:method="post" th:action="@{/admin/create}" th:object="${newUser}">
    <label for="newName">Name:</label>
    <input type="text" id="newName" name="name" th:field="*{name}" required>
    <br>

    <label for="newAge">Age:</label>
    <input type="number" id="newAge" name="age" th:field="*{age}" required>
    <br>

    <label for="newEmail">Email:</label>
    <input type="text" id="newEmail" name="email" th:field="*{email}" required>
    <br>

    <label for="newPassword">Password:</label>
    <input type="text" id="newPassword" name="password" th:field="*{password}" required>
    <br>

    <label for="newRoles">Roles:</label>
    <select id="newRoles" name="roles" th:field="*{roles}" multiple="multiple">
        <option th:each="role : ${allRoles}" th:value="${role.roleName}"
                th:selected="${newUser != null and newUser.roles != null and newUser.roles.contains(role.roleName)}">
            <span th:text="${role.roleName}"></span>
        </option>
    </select>

    <button type="submit">Create User</button>
</form>

<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>