<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<form th:method="post" th:action="@{/admin/update}" th:object="${user}">

    <label for="id">ID:</label>
    <input type="number" id="id" name="id" th:field="*{id}" required readonly>
    <br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" th:field="*{age}" required>
    <br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" th:field="*{email}" required>
    <br>

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" th:field="*{password}" required>
    <br>

    <label>Roles:</label>
    <div th:each="role : ${user.roles}">
        <input type="checkbox" id="role_${role.id}" name="roles" th:value="${role.roleName}"
               th:checked="${user.roles != null and user.roles.contains(role)}"
        />
        <label th:for="'role_' + ${role.id}" th:text="${role.roleName}"></label>
        <br/>
    </div>
    <br/>
    <br/>
</form>

<br/>
<br/>
<br/>
<a href="/admin">
    <button type="button">Home page</button>
</a>

<a th:href="@{/admin/update}" th:object="${user}">
    <button type="button">Update</button>
</a>


<a th:href="@{/admin/delete(id=${user.id})}">
    <button type="button">Delete</button>
</a>

</body>
</html>

