<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

</head>
<body>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" class="button" value="LOGOUT"/>
</form>

<h1 style="text-align: center;">Table User</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Action</th>
    </tr>

    <tr th:each="user1 : ${user}">
        <td th:text="${user1.id}">Id</td>
        <td th:text="${user1.name}">Name</td>
        <td th:text="${user1.age}">Age</td>
        <td th:text="${user1.email}">Email</td>
        <td th:text="${user1.password}">Password</td>
        <td>
            <span th:each="role1 : ${user1.roles}" th:text="${role1.role}"></span>
        </td>
        <td>
            <form th:method="POST" th:action="@{/admin/delete}">
                <input type="hidden" name="id" th:value="${user1.id}" />
                <input type="submit" value="DELETE" class="button"/>
            </form>
            <br/>
            <a th:href="@{/admin/edit(id=${user1.id})}" class="btn btn-warning">EDIT</a>
        </td>
    </tr>
</table>

<a href="/admin/new" class="button">Add a User</a>
<br/>
<br/>
<form th:action="@{/admin}" th:method="GET">
    <input type="submit" class="button" value="INFO ADMIN"/>
</form>
</body>
</html>